apiVersion: operator.victoriametrics.com/v1beta1
kind: VMRule
metadata:
  labels:
    app.kubernetes.io/instance: cray-metallb
    app.kubernetes.io/name: metallb
  name: metallb
  namespace: metallb-system
spec:
  groups:
  - name: metallb.rules
    rules:
    - alert: MetalLBStaleConfig
      annotations:
        description: '"{{`{{ $labels.job }}`}}" - MetalLB "{{`{{ $labels.container }}`}}" on "{{`{{ $labels.pod
          }}`}}" has a stale config for > 1 minute'
        summary: 'MetalLB "{{`{{ $labels.container }}`}}" on "{{`{{ $labels.pod}}`}}" has a stale config for > 1 minute'
      expr: metallb_k8s_client_config_stale_bool{job="metallb"} == 1
      for: 1m
      labels:
        severity: warning
        group: prometheus
    - alert: MetalLBConfigNotLoaded
      annotations:
        description: '"{{`{{ $labels.job }}`}}" - MetalLB "{{`{{ $labels.container }}`}}" on "{{`{{ $labels.pod
          }}`}}" has not loaded for > 1 minute'
      expr: metallb_k8s_client_config_loaded_bool{job="metallb"} == 0
      for: 1m
      labels:
        severity: warning
        group: prometheus
    - alert: MetalLBAddressPoolExhausted
      annotations:
        description: '"{{`{{ $labels.job }}`}}" - MetalLB "{{`{{ $labels.container }}`}}" on "{{`{{ $labels.pod
          }}`}}" has exhausted address pool "{{`{{ $labels.pool }}`}}" for > 1 minute'
      expr: metallb_allocator_addresses_in_use_total >= on(pool,job) metallb_allocator_addresses_total
      for: 1m
      labels:
        severity: alert
        group: prometheus
    - alert: MetalLBAddressPoolUsage75Percent
      annotations:
        description: '"{{`{{ $labels.job }}`}}" - MetalLB "{{`{{ $labels.container }}`}}" on "{{`{{ $labels.pod
          }}`}}" has address pool "{{`{{ $labels.pool }}`}}" past 75% usage for > 1 minute'
      expr: ( metallb_allocator_addresses_in_use_total / on(pool,job) metallb_allocator_addresses_total
        ) * 100 > 75
      labels:
        severity: warning
        group: prometheus
    - alert: MetalLBAddressPoolUsage85Percent
      annotations:
        description: '"{{`{{ $labels.job }}`}}" - MetalLB "{{`{{ $labels.container }}`}}" on "{{`{{ $labels.pod
          }}`}}" has address pool "{{`{{ $labels.pool }}`}}" past 85% usage for > 1 minute'
      expr: ( metallb_allocator_addresses_in_use_total / on(pool,job) metallb_allocator_addresses_total
        ) * 100 > 85
      labels:
        severity: warning
        group: prometheus
    - alert: MetalLBAddressPoolUsage95Percent
      annotations:
        description: '"{{`{{ $labels.job }}`}}" - MetalLB "{{`{{ $labels.container }}`}}" on "{{`{{ $labels.pod
          }}`}}" has address pool "{{`{{ $labels.pool }}`}}" past 95% usage for > 1 minute'
      expr: ( metallb_allocator_addresses_in_use_total / on(pool,job) metallb_allocator_addresses_total
        ) * 100 > 95
      labels:
        severity: critical
        group: prometheus
